<!DOCTYPE html>


<html lang="en">
    <head>
    <style>
      body {
        font-family:sans-serif, Arial;
        color: white;
        font-weight:300;
        background-image: url("image/forgetPassword_WallPaper.jpg");
         -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .container
      {
        max-width: 600px;
        margin: 0 auto;
        padding: 80px 0;
        height: 400px;
        text-align: center;
        margin-top: 5%;
      }
      body h1{
        font-size: 60px;

      }
      form
      {
        padding: 20px 0px;
        position: relative;
      }

      form input
      {
        outline: o;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(215, 255, 76, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 10px auto 20px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        font-weight: 300;
      }

      form input:hover
      {
        background-color: white;
      }

      form input:focus
      {
        background-color: white;
        width: 300px;
        color: #53e3a6;
      }

      form button
      {
        background-color: white;
        outline: 0;
        border: 0;
        padding: 10px 15px;
        color: #53e3a6;
        border-radius: 3px;
        width: 280px;
        cursor: pointer;
        font-size: 18px;
      }

      form button:hover
      {
        background-color:#ff006e;
      }

      back_button
      {
        background-color: pink;
        text-align: center;
        color:black;
      }

    </style>
        <meta charset = "utf-8" />
        <title>CS307 ForgetPassword</title>
        <!-- <link rel="stylesheet" href="/style_forgetPassword.css"> -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
        <h1>Pixell</h1>
            <% if (message) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <% if (success) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %>

            <form class="form" action="/reset" method="post">
              <div class="PasswordInput">
                  <h4>Please Enter Your Token</h4>
                  <input type="text" class="form-control" name="token">
              </div>
            <div class="PasswordInput">
                <h4>Please Enter Your New Password</h4>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="PasswordInput">
                <h4>Re-Enter your New Password</h4>
                <input type="password" class="form-control" name="confirm_password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">
            Confirm</button>
            </form>
        </div>
    </body>
</html>
